<template >
    <div v-if="loggedUser">
        <div class="date-picker col-9 col-md-3 m-auto mt-2">
            <DatePick v-model="date" :format="format" locale="bg" :enable-time-picker="false"/>
        </div>
        <h4 class="d-flex justify-content-center gap-3 mt-2">Покажи поръчки:</h4>
        <div class="d-flex justify-content-center gap-3 mt-2">
            <button @click="orderByDate" class="btn btn-secondary ml-1">По дата</button>
            <button @click="AllOrders" class="btn btn-secondary ml-1">Всички</button>
            <PhoneBook v-if="isMounted"/>
        </div>
        <div id="phone-forma"></div>
    </div>
    <div class="container">
        <div v-for="item in singleUnit" v-if="singleUnit.length > 0" class="mt-5">
            <h3>Поръчка за този ден:</h3>
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Service</th>
                            <th>Bar</th>
                            <th>Kitchen</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-title="Date">{{ item.order_for_date }}</td>
                            <td data-title="Service"><textarea @change="(e)=> changing(e, item.order_for_date)">{{ item.service }}</textarea></td>
                            <td data-title="Bar"><textarea @change="(e)=> changing(e, item.order_for_date)">{{ item.bar }}</textarea></td>
                            <td data-title="Kitchen"><textarea @change="(e)=> changing(e, item.order_for_date)">{{ item.kitchen }}</textarea></td>
                            <td>
                                <button @click="showUpdate" class="btn btn-warning me-2">
                                    <font-awesome-icon icon="fa-solid fa-pen-to-square" />
                                </button>
                                <router-link class="btn btn-success m-1" :to="{name: 'Print', params: {id: item.order_for_date}}">
                                    <font-awesome-icon icon="fa-solid fa-print" />
                                </router-link>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div v-for="obj in allUnits" v-if="allUnits.length" class="mt-5">
            <h3>Всички поръчки:</h3>
            <div class="table table-striped">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Service</th>
                            <th>Bar</th>
                            <th>Kitchen</th>
                            <th>Fruits</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in obj">
                            <td data-title="Date">{{ item.order_for_date }}
                            </td>
                            <td data-title="Service"><textarea @change="(e)=> changing(e, item.order_for_date)">{{ item.service }}</textarea></td>
                            <td data-title="Bar"><textarea @change="(e)=> changing(e, item.order_for_date)">{{ item.bar }}</textarea></td>
                            <td data-title="Kitchen"><textarea @change="(e)=> changing(e, item.order_for_date)">{{ item.kitchen }}</textarea></td>
                            <td data-title="Fruits"><textarea @change="(e)=> changing(e, item.order_for_date)">{{ item.fruits }}</textarea></td>
                            <td class="align-middle">
                                <button @click="showUpdate" class="btn btn-warning m-1">
                                    <font-awesome-icon icon="fa-solid fa-pen-to-square" />
                                </button>
                                <button @click="logOut" class="btn btn-success m-1">Logout</button>
                                <router-link class="btn btn-success m-1" :to="{name: 'Print', params: {id: item.order_for_date}}">
                                    <font-awesome-icon icon="fa-solid fa-print" />
                                </router-link>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div v-if="error" class="alert alert-danger m-5 position-relative">
            {{error}}
            <i class="material-icons position-absolute pe-auto top-0 end-0 " @click="error = ''">close</i>
        </div>
    </div>
</template>
<script>
import { auth } from '../firebase/config';
import DatePick from '../components/DatePick.vue';
import PhoneBook from '../components/PhoneBook.vue';
import { delDeleteList } from '../services/product.service.js';
import { getAllOrders, getOrderByDate, addList } from '../services/product.laravel-service';

export default {
    data() {
        return {
            date: new Date(),
            singleUnit:[],
            allUnits:[],
            service: '',
            bar:'',
            kitchen:'',
            fruits:'',
            error:'',
            isMounted: false,
            loggedUser: {}
        }
    },
    components: { DatePick, PhoneBook },
    methods: {
        todayDate() {
            console.log( this.singleUnit);
            console.log({...this.singleUnit, 0: this.singleUnit[0]});
            console.log(Object.assign(this.singleUnit, {0: this.singleUnit[0].filter(un=>un.id!="-NM4gLvyXZBzbHb2ApaX")}));
        },

        format() {
            const date = this.date;
            const day = date.getDate() < 10 ? `0${date.getDate()}` : date.getDate();
            const month =
                date.getMonth() + 1 < 10
                    ? `0${date.getMonth() + 1}`
                    : date.getMonth() + 1;
            const year = date.getFullYear();

            return `Поръчка за: ${day}/${month}/${year}`;
        },

        async orderByDate() {
            const dateString = new Intl.DateTimeFormat('en-GB').format(this.date);
            
            this.singleUnit = [];
            this.allUnits = [];

            const request = await getOrderByDate(dateString);

            if (request.length === 0) {
                this.error = "Няма намерени резултати!";
            }else {
                this.singleUnit = request;
                this.error = '';
            }
        },

        async AllOrders() {
            this.allUnits = [];
            this.singleUnit = [];
            
            try {
                const resp = await getAllOrders()
            
                this.allUnits.push(resp);
                this.error = '';

            } catch (error) {
                this.error = "Няма намерени резултати!"
            }
        },

        async deleteList(e, group) {
            const listID = e.target.getAttribute("data-date");
            delDeleteList(listID)
            .then( console.log("Поръчката е изтрита!"))
            .catch(e => console.log(e))
            .finally(this[group] = Object.assign(this[group], {0: this[group][0].filter(un=>un.id != listID)}))
        },

        async changing(e, created){
            const department = e.target.parentElement.getAttribute('data-title').toLowerCase();
            console.log(created);
            await addList(department, e.target.value, created);


            // updateDepartment(e.target.value, department, created) (orderFor, content, date)
        },

        printData(e){
            getOrderByDate(e.target.getAttribute('data-date'))
            .then(el => this.printer = el)
        },
        logOut(){
            auth.signOut();
            console.log('LoggedOut');
        }
    },
    created() {
        console.log('Logged as: ',auth.currentUser);
        this.loggedUser = auth.currentUser
    },
    mounted() {
        this.isMounted = true;
    }
}
</script>
<style lang="scss" scoped>
    i{
        pointer-events: none;

    }
    table{
        textarea{
            resize: none;
            height: 100px;
            overflow: scroll;
        }
    }

    .pe-auto{
        cursor: pointer;
    }

    .v-enter-active,
    .v-leave-active {
        transition: opacity 0.5s ease;
    }

    .v-enter-from,
    .v-leave-to {
        opacity: 0;
    }
    
    @media screen and (max-width: 991px) {
        table{
            thead {
                display: none;
            }
    
            tr,
            td {
                display: block;
            }
    
            tr {
                margin-bottom: 15px;
                border-top: 1px solid #bbbec3 !important;
            }
    
            td {
                text-align: right;
                padding-left: 40% !important;
                position: relative;
                border: 1px solid #bbbec3 !important;
    
                a {
                    text-overflow: ellipsis;
                }
    
                strong {
                    padding-left: 5px;
                }
            }
    
            td::before {
                position: absolute;
                left: 0;
                width: 50%;
                text-align: left;
                padding-left: 15px;
                font-weight: bolder;
                content: attr(data-title);
            }
        
        }
    }
</style>