<template>
  <main>
    <!-- heading -->
    <header>
      <img src="./assets/pinia-logo.svg" alt="logo-pinia" />
      <h1>Pinia Tasks</h1>
    </header>
    <!-- filter -->
    <nav class="filter">
      <button @click="filter = 'all'" v-if="filter === 'fav'">All tasks</button>
      <button @click="filter = 'fav'" v-if="filter === 'all'">
        Favorite tasks
      </button>
    </nav>

    <!-- task list  -->

    <div class="task-list" v-if="filter === 'all'">
      <p>All tasks {{ taskStore.allCount }}</p>
      <div v-for="task in taskStore.tasks">
        <TaskDetails :task="task" />
      </div>
    </div>
    <div class="task-list" v-if="filter === 'fav'">
      <p>Favorite tasks {{ taskStore.favCount }}</p>
      <div v-for="task in taskStore.favs">
        <TaskDetails :task="task" />
      </div>
    </div>
  </main>
</template>

<script>
import { ref } from 'vue';
import TaskDetails from './components/TaskDetails.vue';
import { useTaskStore } from './stores/TaskStore';
export default {
  components: { TaskDetails },
  setup() {
    const taskStore = useTaskStore();
    const filter = ref('all');
    return { taskStore, filter };
  },
};
</script>
