<template>
  <main>
    <!-- heading -->
    <Nav />

    <!-- input form -->
    <!-- <InputPanel @product-pack="consumeData" /> -->
    <div class="container-fluid p-0">
      <router-view />
    </div>
    
  </main>
</template>

<script>
import { ref } from 'vue';
import Nav from './components/Nav.vue';

export default {
  components: { Nav },
  
};
</script>
<style lang="scss">
.dp__calendar_header_item {
  font-family: Arial, Helvetica, sans-serif;
}
</style>
