<template>
    <div class="d-flex justify-content-center align-items-center vh-100">
        You are successfully logged in! 
    </div>
</template>
<script setup>
    import { auth } from '../firebase/config';
    import { signInWithEmailAndPassword } from "firebase/auth";
    import { useUserStore } from '../stores/UserStore'

    const store = useUserStore()

    console.log(store);
    signInWithEmailAndPassword(auth, 'tedo@abv.bg', '123456')
    .then(userCredential => {
        const {uid, email} = userCredential.user;
        console.log(auth.currentUser);
        store.setId(uid);
        store.setDisplayName(email);
    })
    .catch(e=> console.log('error'))
    

</script>
<style lang="">
    
</style>