<template>
  <header>
    <nav class="container">
      <div class="branding">
        <router-link class="header" to="/">
          <img src="https://drive.google.com/uc?export=view&amp;id=1b61FJfDiRLs9-pEd3Tq9pnurxOvMoOeF" nosend="1" alt="ExtremeBar" style="width: 200px; height: auto;" height="60" width="175" border="0"/>
        </router-link>
      </div>
      <div class="nav-link">
        <ul v-show="!mobile">
          <router-link class="link" to="/">Поръчка</router-link>
          <router-link class="link" to="/admin">Управител</router-link>
          <router-link class="link" to="/login">Login</router-link>
        </ul>
      </div>
    </nav>

    <div class="menu-icon" @click="toggleMobileNav" v-show="mobile">
      <i class="material-icons" v-show="!mobileNav">menu</i>
      <i class="material-icons" v-show="mobileNav">close</i>
    </div>

    <transition name="mobile-nav">
      <ul class="mobile-nav" v-show="mobileNav">
        <router-link @click="mobileNav = !mobileNav" class="link" to="/">Поръчка</router-link>
        <router-link @click="mobileNav = !mobileNav" class="link" to="/admin">Управител</router-link>
      </ul>
    </transition>
  </header>
</template>
<script>
export default {
  name: 'navigation',
  components: {},
  data() {
    return {
      mobile: null,
      mobileNav: null,
      windowWidth: null,
    };
  },
  created() {
    window.addEventListener('resize', this.checkScreen);
    this.checkScreen();
  },
  methods: {
    checkScreen() {
      this.windowWidth = window.innerWidth;
      if (this.windowWidth <= 750) {
        this.mobile = true;
        return;
      }
      this.mobile = false;
      this.mobileNav = false;
      return;
    },
    toggleMobileNav() {
      this.mobileNav = !this.mobileNav;
    },
  },
};
</script>

<style lang="scss" scoped>
header {
  background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background-blend-mode: multiply,multiply;
  padding: 0 25px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  z-index: 99;
  height: 10vh;
  img{
    transform: none;
    max-width: 70%;
  }
  .link {
    font-weight: 500;
    padding: 0 8px;
    transition: 0.3s color ease;
    text-decoration: none;
    color: white;
    font-weight: 600;
    &:hover {
      color: #1eb8b8;
    }
  }
  nav {
    display: flex;
    padding: 25px 0;
    .branding {
      display: flex;
      align-items: center;
      .header {
        font-weight: 600;
        font-size: 24px;
        color: #000;
        text-decoration: none;
      }
    }
    .nav-link {
      position: relative;
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: flex-end;
      ul {
        margin-right: 32px;
        .link {
          margin-right: 32px;
        }
        .link:last-child {
          margin-right: 0;
        }
      }
    }
  }
  .menu-icon {
    cursor: pointer;
    position: absolute;
    top: 32px;
    right: 25px;
    height: 25px;
    width: auto;
    svg {
      height: 100%;
      width: auto;
      pointer-events: none;
    }
  }
  .mobile-nav {
    padding: 20px;
    width: 100%;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    background-color: #303030;
    top: 0;
    left: 0;
    z-index: 1;

    .link {
      padding: 15px 0;
      color: #fff;
    }
  }
  .mobile-nav-enter-active,
  .mobile-nav-leave-active {
    transition: all 1s ease;
  }

  .mobile-nav-enter-from {
    transform: translateX(-250px);
  }
  .mobile-nav-enter-to {
    transform: translateX(0);
  }
  .mobile-nav-leave-to {
    transform: translateX(-250px);
  }
}
</style>
