<template>
    <div>
        <button @click="show = !show" class="btn btn-secondary ml-1">PhoneBook</button>
        <Teleport to="#phone-forma">
            <transition>
                <div v-if="show" class="d-flex flex-column col-10 align-items-center mt-3 w-100">
                    <label for="">Service</label>
                    <input type="text"  @change="addPhone('service', $event.target.value)" :placeholder="phone.service">
                    <label for="">Bar</label>
                    <input type="text" @change="addPhone('bar', $event.target.value)" :placeholder="phone.bar">
                    <label for="">Kitchen</label>
                    <input type="text" @change="addPhone('kitchen', $event.target.value)" :placeholder="phone.kitchen">
                    <label for="">Fruits</label>
                    <input type="text" @change="addPhone('fruits', $event.target.value)" :placeholder="phone.fruits">
                </div>
            </transition>
        </Teleport>
    </div>
</template>
<script>
import { setPhoneNumber, getPhoneNumber } from '../services/product.service.js';
export default {
    data() {
        return {
            show: false,
            phone:{
                service: null,
                bar: null,
                kitchen: null,
                fruits: null
            }
        }
    },
    methods: {
        addPhone(department, phone){
            
            setPhoneNumber(department, phone);
        }
    },
    async created(){
        const numbs = await getPhoneNumber();
        this.phone.bar = numbs.bar;
        this.phone.service = numbs.service;
        this.phone.kitchen = numbs.kitchen;
        this.phone.fruits = numbs.fruits;
    }
}
</script>
<style>
    .v-enter-active,
    .v-leave-active {
        transition: opacity 0.5s ease;
    }

    .v-enter-from,
    .v-leave-to {
        opacity: 0;
    }
</style>