<template>
    <div>
        <div v-if="shown" class="selection--main">
            <div class="d-flex flex-column align-items-center justify-content-between h-100 p-5">
                <button @click="orderFor = 'fruits', shown = !shown, sent = false" class="container-fluid--btn btn btn-warning text-white">
                    <font-awesome-icon icon="fa-solid fa-lemon" class="me-2"/>
                    Fruits
                </button>
                <button @click="orderFor = 'service', this.shown = !shown, sent = false" class="container-fluid--btn btn btn-success"><i
                        class="material-icons">room_service</i> Service</button>
                <button @click="orderFor = 'bar', shown = !shown, sent = false" class="container-fluid--btn btn btn-danger"><i
                        class="material-icons">liquor</i> Bar</button>
                <button @click="orderFor = 'kitchen', shown = !shown, sent = false" class="container-fluid--btn btn btn-primary"><i
                        class="material-icons">soup_kitchen</i> Kitchen</button>
            </div>
        </div>
        <div v-for="place in departments">
            <transition name="selection-unit">
                <div class="selection-unit" v-if="orderFor === place">
                    
                    <button @click="shown = !shown, orderFor = ''" class="d-flex border-0 p-3 "><i class="material-icons">arrow_back</i> НАЗАД</button>
                    <form class="d-flex flex-column align-items-center gap-3 mt-2">
                        <div class="d-flex flex-column align-items-center col-10 col-sm-4 justify-content-between">
                            <DatePick v-model="date" :format="format" locale="bg" :enable-time-picker="false" class="col-12 my-4"/>
                            <label for="product" class="text-uppercase font-weight-bold">{{ place }}</label>
                            <textarea id="product" class="w-100" ref="textContent">{{content}}</textarea>
                            <div v-if="sent" class="alert alert-success position-relative w-100 mt-1">
                                Added. Thanks!
                                <i class="material-icons position-absolute pe-auto top-0 end-0 " @click="sent = false">close</i>
                            </div>
                            <div v-if="error" class="alert alert-danger w-100 mt-1">{{ error }}</div>
                            <div class="d-flex w-100 justify-content-center pt-1">                                
                                <button @click.prevent="pushList" class="btn btn-success w-50 rounded-0 mb-4">ИЗПРАТИ</button>
                            </div>
                        </div>
                    </form>
                </div>
            </transition>
        </div>
    </div>
</template>
<script>
import DatePick from './DatePick.vue';
import { bg } from 'date-fns/locale/bg/index.js';
import { addList, getDepartmentByDate } from '../services/product.laravel-service';
import { ref as refX, onValue } from 'firebase/database';
import { db } from '../firebase/config';

export default {
    data(){
        return{
            orderFor:'',
            shown: true,
            departments: ['service', 'bar', 'kitchen', 'fruits'],
            date: new Date(),
            content: '',
            today: new Intl.DateTimeFormat('en-GB').format(new Date()),
            sent: false,
            error:''
        }
    },
    components:{ DatePick },
    methods: {
        format() {
            const date = this.date;
            const day = date.getDate() < 10 ? `0${date.getDate()}` : date.getDate();
            const month =
                date.getMonth() + 1 < 10
                    ? `0${date.getMonth() + 1}`
                    : date.getMonth() + 1;
            const year = date.getFullYear();

            return `Поръчка за: ${day}/${month}/${year}`;
        },
        async pushList() {
            const newContent = this.$refs.textContent[0].value;
            
            try {
                const resp = await addList(this.orderFor, newContent, new Intl.DateTimeFormat('en-GB').format(this.date));
                if (resp === 200) {
                    this.sent = true;
                    this.error = '';
                }
                
            } catch (error) {
                this.error = error;
            }
        },
        loadCurrent(){
            getDepartmentByDate(this.orderFor, new Intl.DateTimeFormat('en-GB').format(this.date))
            .then(el => this.content = el);
        }
    },
    watch:{
        orderFor(){
            this.loadCurrent();
        },

        date(){
            
            this.loadCurrent();
            
        },
        content(){
            this.$refs.textContent[0].value = this.content;
        }
    }
}
</script>
<style lang="scss" scoped>
    i {
        cursor: pointer;
    }

    .container-fluid {
        background-color: #303030;
        color: white;
        &--btn {
            height: 24%;
            width: 100%;
            border-radius: 20px;
            border: none;
            font-weight: 600;
            font-size: 30px;
            overflow: hidden;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            text-shadow: 2px 2px 10px #000000;

            svg {
                filter: drop-shadow(2px 2px 10px #000000);
                width: 60px;
                height: 60px;
              }

            i {
                font-size: 60px;
            }
        }

        &--title {
            font-weight: 600;
        }

        textarea {
            height: 60vh;
            resize: none;
            padding: 10px;
            border-radius: 5px;
        }
    }

    .selection--main {
        height: 90vh;
        background-color: #303030;
    }
</style>
<style lang="scss">
    .dp__clear_icon{
        display:none;
    }

    .dp__pointer{
        text-align: center;
    }
</style>