<template>
  <div class="task">
    <h3>{{ task.product }}</h3>
    <h3>{{ task.value }}</h3>
    <div class="icons">
      <i class="material-icons" @click="removeFromList">delete</i>
      <i class="material-icons" @click="editItem">edit</i>
    </div>
  </div>
</template>

<script>
import { useTaskStore } from '../stores/TaskStore';

export default {
  props: ['task'],
  methods: {
    removeFromList() {
      const taskStore = useTaskStore();

      taskStore.tasks = taskStore.tasks.filter(
        (task) => task.id !== this.task.id
      );
      console.log(this.task.id);
    },    
  },
};
</script>
