<template>
    <div class="d-flex align-items-start justify-content-center flex-column border rounded p-3 m-5">
        <h5>Дата: {{ print.orderForDate }}</h5>
        <h5>Сървиз:</h5>
        <textarea class="alert alert-dark" ref="service" disabled>{{ print.service }}</textarea>
        <div class="d-flex gap-2">
            <button @click="copyClip('service')" class="btn btn-secondary">COPY</button>
        <a :href="'viber://chat?number=%2B'+phone.service" class="viber d-flex justify-content-center align-items-center rounded">VIBER</a>
        </div>
    </div>
    <div class="d-flex align-items-start justify-content-center flex-column border rounded p-3 m-5">
        <h5>Дата: {{ print.orderForDate }}</h5>
        <h5>Бар:</h5>
        <textarea class="alert alert-dark" ref="bar"  disabled>{{ print.bar }}</textarea>
        <div class="d-flex gap-2">
            <button @click="copyClip('bar')" class="btn btn-secondary">COPY</button>
        <a :href="'viber://chat?number=%2B'+phone.bar" class="viber d-flex justify-content-center align-items-center rounded">VIBER</a>
        </div>
    </div>
    <div class="d-flex align-items-start justify-content-center flex-column border rounded p-3 m-5">
        <h5>Дата: {{ print.orderForDate }}</h5>
        <h5>Кухня:</h5>
        <textarea class="alert alert-dark" ref="kitchen" disabled>{{ print.kitchen }}</textarea>
        <div class="d-flex gap-2">
            <button @click="copyClip('kitchen')" class="btn btn-secondary">COPY</button>
        <a :href="'viber://chat?number=%2B'+phone.kitchen" class="viber d-flex justify-content-center align-items-center rounded">VIBER</a>
        </div>
    </div>
    <div class="d-flex align-items-start justify-content-center flex-column border rounded p-3 m-5">
        <h5>Дата: {{ print.orderForDate }}</h5>
        <h5>Плодове:</h5>
        <textarea class="alert alert-dark" ref="fruits" disabled>{{ print.fruits }}</textarea>
        <div class="d-flex gap-2">
            <button @click="copyClip('fruits')" class="btn btn-secondary">COPY</button>
        <a :href="'viber://chat?number=%2B'+phone.fruits" class="viber d-flex justify-content-center align-items-center rounded">VIBER</a>
        </div>
    </div>
    <div class="d-flex align-items-center justify-content-center flex-column p-3 m-5">
        <div class="d-flex gap-2">
            <router-link class="link" to="/admin"><button class="btn btn-secondary">НАЗАД</button></router-link>
            <PhoneBook v-if="isMounted"/>
        </div>
        <div id="phone-forma"></div>
    </div>

</template>
<script>
import { getOrderByDate, getPhoneNumber } from '../services/product.service'
import PhoneBook from './PhoneBook.vue'
export default {
    data() {
        return {
            print: '',
            show: false,
            phone:{
                service: null,
                bar: null,
                kitchen: null,
                fruits: null
            },
            isMounted: false
        }
    },
    components:{ PhoneBook },
    methods:{
        async copyClip(unit) {
            try {
                const copyText = this.$refs[unit];
                copyText.select();
                copyText.setSelectionRange(0, 99999);
                await navigator.clipboard.writeText(copyText.value);
                alert('Content copied to clipboard');
                /* Resolved - text copied to clipboard successfully */
            } catch (err) {
                alert('Failed to copy: ', err);
                /* Rejected - text failed to copy to the clipboard */
            }
        }
    },
    async created() {
        const numbs = await getPhoneNumber();
        
        this.phone.bar = numbs.bar;
        this.phone.service = numbs.service;
        this.phone.kitchen = numbs.kitchen;
        this.phone.fruits = numbs.fruits;

        getOrderByDate(this.$route.params.id)
            .then(el => this.print = el);

    },
    updated() {
        this.$refs.service.style.height = this.$refs.service.scrollHeight+'px'
        this.$refs.bar.style.height = this.$refs.bar.scrollHeight+'px'
        this.$refs.kitchen.style.height = this.$refs.kitchen.scrollHeight+'px'
        this.$refs.fruits.style.height = this.$refs.fruits.scrollHeight+'px'
    },
    mounted() {
        this.isMounted = true;
    }
}
</script>
<style lang="scss" scoped>
    textarea{
        width: 100%;
        resize: none;
        border: none;
    }
    .viber{
        width: 100px;
        height: 40px;
        background-color: #7D3CAF;
        color: azure;
        text-decoration: none;
    }
    .v-enter-active,
    .v-leave-active {
        transition: opacity 0.5s ease;
    }

    .v-enter-from,
    .v-leave-to {
        opacity: 0;
    }
</style>
